.button {
  background-color: var(--green);

  color: var(--white);

  padding: 0.8rem 1.4rem;

  border: none;
  border-radius: 0.8rem;

  transition: background-color 0.25s ease-out;
}

.button:hover,
.button:focus {
  background-color: var(--green-light);
  filter: brightness(1);
}

.fit_content {
  width: fit-content;
  width: -moz-fit-content;
}

@media screen and (min-width: 1024px) {
  .button {
    font-weight: 700;

    padding: 1.4rem 2.4rem;
  }
}
