* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Mulish", sans-serif;
  font-size: 62.5%;
}

body {
  background-color: #121214;
}

#app {
  padding: 8rem 11rem;
}

#app > header {
  margin-bottom: 6rem;
}

#app > header > h1 {
  font-size: 6rem;
  font-weight: 900;
  color: #02799d;
  margin-bottom: 0.8rem;
}

#app > header > p {
  font-size: 32px;
  font-weight: 600;
  color: #e1e1e6;
}

#app > main {
  display: grid;
  grid-template-areas: "1 2 3";
  gap: 6rem;
}

#app > main > div {
  height: 50rem;
  border: 2px solid #323238;
  border-radius: 0.8rem;
  font-size: 1.9rem;
  color: #c4c4cc;
}

#app > main > div > img {
  box-sizing: content-box;
  width: 100%;
  height: 17rem;
  overflow: hidden;
  border-radius: 0.8rem 0.8rem 0 0;
}

.info {
  padding: 2.5rem 2.4rem;
}

.info h2 {
  font-size: 3.5rem;
  font-weight: 900;
  margin-bottom: 2.4rem;
}

.info :is(h2, p) {
}
