body {
  /* background-image: url(./assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover; */
  background: url(./assets/bg-mobile.jpg) no-repeat top center / cover;
}

#container {
  height: 712px;
  width: 320px;
  margin: auto;
  border: 1px solid red;
}
