* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    180deg,
    rgba(227, 255, 248, 0) 0%,
    rgba(227, 255, 248, 0.38) 100%
  );
}

nav {
  display: flex;
  justify-content: center;
  gap: 635px;
  padding-top: 65px;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 48px;
  list-style: none;
  font-size: 18px;
}

a:not(strong) {
  text-decoration: none;
  font-family: "Mulish", sans-serif;
  color: #1f1534;
  opacity: 0.5;
}

span {
  color: #89c5cc;
}

#logo {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 102px;
}

footer {
  text-align: center;
}
