* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:not(#app, body) {
  border: 1px solid red;
}

#app {
  height: 100vh;
  display: grid;
  grid-template:
    "header header header"
    "main main aside"
    "footer footer footer";
  gap: 20px;
}

#app header {
  grid-area: header;
}

#app main {
  grid-area: main;
}

#app footer {
  grid-area: footer;
}
