* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --brand-color: #065e7c;
  --brand-background-color: #f4fcff;
  --heading-color: #202024;
  --text-color: #121214;
}

body,
input {
  font-family: "Mulish", sans-serif;
  font-size: 1.6rem;
}

#app {
  background-color: var(--brand-background-color);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
  background-color: var(--brand-color);
  padding: 1.2rem 2.8rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

header .logo {
  width: 3.8rem;
  height: 3.8rem;
  --start-Y: -150%;
  animation: slide-down-or-up 0.5s ease-in forwards;
}

header form {
  display: flex;
  flex: 1;
  --start-Y: -150%;
  animation: slide-down-or-up 0.5s ease-in forwards;
}

header .input-wrapper {
  flex: 1;
}

#search {
  width: 100%;
  height: 4rem;
  font-weight: 600;
  color: #fff;
  padding: 1.4rem 1.2rem;
  border: 0;
  border-radius: 0.4rem;
  background-color: rgba(255, 255, 255, 0.2);
}

#search::placeholder {
  color: #fff;
}

header form .input-wrapper label {
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
}

header .avatar {
  width: 4.2rem;
  border-radius: 50%;
  --start-Y: -150%;
  animation: slide-down-or-up 0.5s ease-in forwards;
}

#post {
  margin-bottom: 3.4rem;
}

main img {
  --start-appear: 1.2s;
  animation: appear var(--start-appear);
}

aside img {
  transition: all ease-in 0.1s;
}

aside img:hover {
  filter: contrast(110%);
  transform: scale(1.1);
}

#featured-image img {
  width: 100%;
  margin-bottom: 3.2rem;
  transition: all 0.4s ease-in-out;
}

#featured-image img:hover {
  filter: contrast(1.1) brightness(1.1);
}

#post-content,
aside {
  padding: 0 2.4rem;
}

h1 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.8rem;
}

#review button {
  display: inline-flex;
  margin: 0.8rem 1.2rem 3.2rem 0;
  padding: 1.2rem;
  border: 0;
  border-radius: 50%;
  background-color: var(--brand-color);
}

#review button:hover {
  animation: grow ease-out 0.1s both;
}

#post-content p:first-of-type {
  margin-bottom: 2.4rem;
}

aside {
  margin-bottom: 4rem;
}

aside h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 2.8rem;
  margin-bottom: 3.2rem;
}

aside .related-post {
  display: flex;
  gap: 1.6rem;
  margin-bottom: 3.2rem;
}

aside .related-post img {
  object-fit: cover;
  border-radius: 0.5rem;
}

.related-info h3 {
  font-size: 1.8rem;
}

.related-info p {
  font-size: 1.4rem;
}

footer {
  text-align: center;
  font-weight: 600;
  color: #fff;
  padding: 1.6rem 2.6rem;
  background-color: var(--brand-color);
  position: sticky;
  bottom: 0;
  z-index: 1;
}

footer p {
  --start-Y: 200%;
  animation: slide-down-or-up 0.5s ease-in forwards;
}

@media (min-width: 1024px) {
  #app {
    display: grid;
    grid-template-areas:
      "header header header"
      "main main aside"
      "footer footer footer";
  }

  header {
    grid-area: header;
    padding: 1.6rem 11.2rem;
    margin-bottom: 4.2rem;
  }

  main {
    grid-area: main;
    padding-left: 11.2rem;
    margin-bottom: 4rem;
  }

  #post-content {
    padding-left: 0;
  }

  .post-content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.2rem;
  }

  #review {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  #review button {
    margin: 0;
  }

  aside {
    grid-area: aside;
    padding: 0 11.2rem 0 3.4rem;
  }

  .related-post {
    --start-appear: 1.2s;
    animation: appear var(--start-appear);
  }

  footer {
    grid-area: footer;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes grow {
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes slide-down-or-up {
  from {
    transform: translateY(var(--start-Y));
  }
}
